@import url("https://rsms.me/inter/inter.css");

@supports (font-variation-settings: normal) {
  .App {
    font-family: "Inter var", sans-serif;
  }
}

.App {
  font-family: "Inter", sans-serif;
  margin: 30px;
}

* {
  box-sizing: border-box;
}

.theme {
  font-family: "Inter", sans-serif;
  --primary-color: rgb(38, 144, 243);
  --gray-color: rgb(162, 162, 162);
  --warn-color: rgb(230, 73, 73);
}

.container {
  margin: 0 auto;
  max-width: 800px;
}

hr {
  border: 0;
  height: 1px;
  background: #ddd;
}

main {
  min-height: 70vh;
}

input {
  appearance: none;
  font-family: inherit;
  font-size: inherit;
  border: 0;
  display: inline-block;
  width: 100%;
}

input:focus {
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.link {
  display: inline-block;
  background: var(--gray-color);
  color: white;
  text-decoration: none;
  padding: 8px 10px;
}

.link.active {
  background: var(--primary-color);
}

.link:hover {
  opacity: 0.8;
}
.link:active {
  opacity: 0.9;
}

.form-input {
  font-family: inherit;
  padding: 5px;
  border: 2px solid #dddddd;
  border-radius: 3px;
  font-size: 14px;
}

.form-input-ninja {
  padding: 5px 8px;
  border-radius: 3px;
  background: #ededed;
}
.form-input-ninja:not(:disabled):not(:focus):hover {
  background: #dfdfdf;
}

.form-input-ninja:focus {
  background: #dddddd;
}

.form-input:focus {
  outline: none;
}

.btn {
  font-family: inherit;
  padding: 8px 10px;
  appearance: none;
  border: 0;
  font-size: 14px;
  border-radius: 5px;
  background: var(--gray-color);
  color: white;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.8;
}

.btn:active {
  opacity: 0.9;
}

.btn:focus {
  outline: none;
}

.btn-primary {
  background: var(--primary-color);
}

.btn-warn {
  background: var(--warn-color);
}

.vspacer {
  margin: 10px 0;
}

.hspacer {
  margin: 0 10px;
}

.lspacer {
  margin-left: 10px;
}
.rspacer {
  margin-right: 10px;
}

.rounded {
  border-radius: 5px;
}

.rounded-full {
  border-radius: 9999px;
}

.nav {
  overflow: hidden;
  display: inline-block;
}

.bold {
  font-weight: bold;
}

.caption {
  font-size: 14px;
  margin: 5px;
  color: #999;
}

.text-gray {
  color: var(--gray-color);
}

.vcenter {
  display: flex;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.card {
  overflow: hidden;
  border-radius: 10px;
  border: 2px solid #ccc;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-footer {
  padding: 10px;
  background-color: var(--primary-color);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login-google {
  background: #e94e4e;
  color: white;
}

.login-twitter {
  background: #1da1f2;
}

@media (max-width: 600px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .App {
    margin: 15px;
  }
}
